/* Global Styles */

:root {
    --yellow: rgb(216, 180, 1);
    --brown: rgb(105, 1, 1);
    --border: dotted var(--brown) 2px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--brown);
}

section {
    margin: 20px 50px;
}

h1 {
    margin: 20px auto;
}

/* Header and Footer Styles */

nav, footer {
    height: 60px;
    width: 100%;
    background-color: var(--yellow);
    color: var(--brown);
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
}

nav li {
    display: inline-flex;
    margin: 0 10px 0 10px;
}

nav a {
    text-decoration: none;
}

.header-image {
    margin: 0;
    height: 400px;
    width: 100%;
    background-image: url('./images/computer-2048166_1280.jpeg');
    background-position: center;
}

/* About Styles */

.about p {
    margin: 20px;
}

/* Project Styles */

.projects {
    background-color: var(--yellow);
    color: var(--brown);
    margin: 20px 0px;
    border: var(--border);
}

.projects h1 {
    padding: 20px 50px 0 50px;
}

.card h2 {
    font-size: 99%;
    position: relative;
    top: -10px;
    margin: 0 auto;
    text-align: center;
    width: 200px;
    height: 20px;
    border: var(--border);
    background-color: rgba(255, 255, 255, 0.645);
}

.card {
    display: inline-flex;
    margin: 20px;
    height: 300px;
    width: 500px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.project-1 {
    background-image: url("./images/calculator-2212965_1280.jpeg");
}

.project-2 {
    background-image: url("./images/cook-6046729_1280.jpg");
}

.project-3 {
    background-image: url("./images/laptop-6002099_1280.jpg");
}

.project-4 {
    background-image: url("./images/smartphone-570507_1280.jpg");
}

/* Contact Me Styles */

.contact ul {
    margin: 0 20px;
}

.contact li {
    list-style: none;
    display: inline-flex;
}

.contact a {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

.contact img {
    height: 30px;
    margin-right: 10px;
}