/* Global Styles */

:root {
    --yellow: rgb(216, 180, 1);
    --brown: rgb(105, 1, 1);
    --border: dotted var(--brown) 2px;
    --paisley: url("./images/Paisley.png");
    --transparentwhite: rgba(255, 255, 255, 0.836);
}

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--brown);
}

section {
    margin: 20px 50px;
}

h1 {
    margin: 20px auto;
}

/* Header and Footer Styles */

nav, footer {
    height: 45px;
    width: 100%;
    color: var(--brown);
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
    background: var(--paisley), var(--yellow);
    background-size: 80%;
    background-position: center;
    background-blend-mode: overlay;
}

nav {
    position: fixed;
    z-index: 100;
}

nav ul {
    background-color: var(--transparentwhite);
    padding: 5px;
}

nav li {
    display: inline-flex;
    margin: 0 10px 0 10px;
}

nav a {
    text-decoration: none;
}

nav a:hover {
    position: relative;
    bottom: 2px;
    text-shadow: 2px 2px 2px lightgrey;
}

.header-image {
    margin: 0;
    height: 300px;
    width: 100%;
    background-image: url('./images/header-image-desk.jpeg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-image h2 {
    text-shadow: 2px 2px 2px grey;
    margin-right: 10px;
    text-align: right;
}

footer p {
    background-color: var(--transparentwhite);
    padding: 5px;
}

/* About Styles */

#about {
    display: flex;
    align-items: center;
}

#about img {
    width: 250px;
    border-radius: 50%;
    height: auto;
}

#about p {
    margin: 20px;
}

/* Project Styles */

#projects {
    color: var(--brown);
    margin: 20px 0px;
    border: var(--border);
    background: var(--paisley), var(--yellow);
    background-size: 80%;
    background-position: center;
    background-blend-mode: overlay;
}

#projects h1 {
    padding: 5px 50px;
    background-color: var(--transparentwhite);
    border: var(--border);
}

.card {
    margin: 20px;
    height: auto;
    width: 500px;
    overflow: hidden;
}

.project-cards {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card h2 {
    font-size: 120%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    background-color: var(--transparentwhite);
    width: auto;
    height: auto;
    border: var(--border);
}

.card h2:hover {
    text-shadow: 3px 3px 3px lightgrey;
}

.card:hover {
    box-shadow: white 5px 5px 5px;
}

.card a {
    text-decoration: none;
}

.card p {
    background-color: var(--transparentwhite);
    text-align: center;
    padding: 5px;
    border: var(--border);
    margin: 0 auto;
}

.card:nth-child(1) {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.card img {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

/* Contact Me Styles */

#contact ul {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#contact li {
    list-style: none;
    display: inline-flex;
    
}

#contact li:hover {
    position: relative;
    bottom: 10px;
}

#contact a {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

#contact img {
    height: 30px;
    margin-right: 10px;
}


/* Media Styles */

@media screen and (max-width: 772px) {
    #about {
        flex-direction: column;
    }

    #contact li {
        padding: 10px;
    }

    .card {
        height: auto;
        width: auto;
    }
}
