/* Global Styles */

:root {
    --yellow: rgb(216, 180, 1);
    --brown: rgb(105, 1, 1);
    --border: dotted var(--brown) 2px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--brown);
}

section {
    margin: 20px 50px;
}

h1 {
    margin: 20px auto;
}

/* Header and Footer Styles */

nav, footer {
    height: 45px;
    width: 100%;
    background-color: var(--yellow);
    color: var(--brown);
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--border);
}

nav {
    position: fixed;
    z-index: 100;
}

nav li {
    display: inline-flex;
    margin: 0 10px 0 10px;
}

nav a {
    text-decoration: none;
}

.header-image {
    margin: 0;
    height: 400px;
    width: 100%;
    background-image: url('./images/computer-2048166_1280.jpeg');
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.header-image h2 {
    text-shadow: 2px 2px 2px grey;
    margin-right: 10px;
    text-align: right;
}

/* About Styles */

#about {
    display: flex;
}

#about img {
    width: 250px;
    border-radius: 50%;
}

#about p {
    margin: 20px;
}

/* Project Styles */

#projects {
    background-color: var(--yellow);
    color: var(--brown);
    margin: 20px 0px;
    border: var(--border);
}

#projects h1 {
    padding: 20px 50px 0 50px;
}

.card h2 {
    font-size: 120%;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
    width: auto;
}

.card {
    margin: 20px;
    height: 300px;
    width: 500px;
    overflow: hidden;
}

.card:nth-child(1) {
    display: block;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

.project-cards {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card img {
    height: auto;
    width: 100%;
    margin: 0 auto;
}

/* Contact Me Styles */

#contact ul {
    margin: 0 20px;
}

#contact li {
    list-style: none;
    display: inline-flex;
}

#contact a {
    display: flex;
    margin-right: 30px;
    align-items: center;
}

#contact img {
    height: 30px;
    margin-right: 10px;
}


/* Media Styles */

@media screen and (max-width: 772px) {
    #about {
        flex-direction: column;
        align-items: center;
    }
}

